* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

.color-fonte{
  color: white !important;
}

.resetList{
  list-style: none !important;
}

.btn-Reset{
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.borderRadius{
  border-radius: 12px;
}

.button{
  padding: 10px;
}

.tittleRaizes {
  font-family: 'Vina Sans', sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  color: white !important;
}

.icon{
  font-size: 24px !important;
}

.right-ul-li {
  font-size: 10.8pt;
  margin-bottom: 5px;
  font-weight: 500 !important;
}


.card-tittle{
  color: #1E4C9A !important;
  font-family: 'Roboto', sans-serif;
}

.card-footer{
  border-top: none !important ;
}
.card-text{
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
}

.card-tittle-dev{
  color: #1E4C9A !important;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.fontTextDev{
  font-size: 11pt;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
  text-align: start;
}

.modal-body{
  background-color: #3b5998;
}

.inputLogin{
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.logoRDM {
  pointer-events: none;
  width: 32px;
  height: 32px;
}

.containerInputLogin{
  justify-content: center;
}

.color-button{
  background-color: #3B5998 !important;
}

.radius:hover{
  border-radius: 8px !important;
}

.aReset{
  text-decoration: none;
  color: white !important;
}
h1 a {
  color: white !important;
}
.offcanvas-header,
.navbar {
  background-color: #3b5998;
}

.offcanvas-body {
  background-color: white;
}

.iconMenu {
  color: white !important;
}

main {
  padding-top: 4.5em;
  padding-bottom: 1.25em;
}

.persona {
  text-align: center;
  margin-bottom: 10px;
}

.devLogo{
  border-radius: 50%;
  margin: auto !important;
  justify-content: center !important;
  align-items: center !important;
  justify-items: center !;
}

.my-paragraph {
  text-align: justify;
  word-wrap: break-word;
}

.col-8{
  padding: 0 !important;
}

div.col-8.m-auto.border-right{
  margin: 0px !important;
}

.col-4{
  padding: 0 !important;
}

.col-md-auto{
  padding: 0 !important;
  margin-left: 5px;
}

iframe{
  border-bottom: solid 2px #D6D6D6 !important;
  padding-bottom: 10px;
}

.borderBottom{
  border-bottom: solid 2px #D6D6D6 !important;
}

.border-right{
  border-right: solid 2px #D6D6D6 !important;
  padding-right: 10px !important;
}

.borderTop{
  border-top: solid 2px #D6D6D6 !important;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .card-tittle{
    font-size: 14px;
  }
  .card-text{
    font-size: 12px;
  }
  div.col-8.m-auto.border-right{
    margin-left: 67.5px !important;
    margin-right: 67.5px !important;
  }
}

@media (max-width: 576px) {
  .card-tittle{
    font-size: 10px;
  }
  .card-text{
    font-size: 9px;
  }
  .div.col-8.m-auto.border-right{
    margin: auto !important;
  }
  iframe{
    border-top: solid 2px #868686 !important;
    padding-top: 10px;
  }
  .responsive{
    height: 100% !important;
  }
}

.responsive{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
footer {
  background-color: #3b5998;
  color: white;
}

.companyRDM {
  font-size: 1em;
}

.Copyright {
  background-color: #2c4a8b;
}

.text-footer {
  font-size: 10pt !important;
  text-align: justify;
}

.page-link:hover{
  background-color: #3B5998 !important;
  color: white !important;
}

 