@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400;800;900&family=Inter:wght@700&family=Roboto+Slab:wght@800&family=Roboto:wght@700&family=Russo+One&display=swap");

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BUILD */
body {
  background: #f4f8fc;
}

.buttonC button {
  margin: 5px;
}

.Avatar {
  margin: 10px;
}

.buttonColor {
  background: #3290d3;
  border-radius: 8px;
  color: white;
  border: none;
}
.buttonColor:hover {
  background: #2178b6;
  color: white;
  border: none;
}
.buttonColor:focus {
  background: #2178b6;
  color: white;
  border: none;
}

._20px {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.rName {
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
}

.buttonReset {
  background: none;
  border: none;
  color: black;
  padding-left: 10px;
}

.modal-footer {
  border: none;
}

.buttonReset:hover {
  color: black;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.bordeFooter {
  border-bottom: #bfc3c7 solid 1px;
}

.spaceInput {
  margin-top: 10px;
}

/* HEADER/NAVBAR */
.container-fluid p {
  display: flex;
  margin: auto;
}

.navbar {
  background: #e3f2fd;
}

#btnRGNL {
  margin-top: 10px;
}

#Result {
  display: none;
}

.dropdown-menu {
  padding: 5px;
  background: #e3f2fd;
  border: 1px solid #3290d3;
  text-align: center;
}

.dropdown-menu.show {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
}

.bRT {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bRB {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-item {
  color: #3290d3;
}

.dropdown-item:hover {
  background: #2178b6;
  color: white;
}

.nav-link {
  margin: 5px;
}

.bordeRDPT {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: solid 1px #bbc7d0;
}

.bordeRDPB {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: solid 1px #bbc7d0;
}

#navbarNavDropdown {
  margin-left: 20px;
}

/* MAIN/SITE */
.textCard {
  padding: 10px;
  color: black;
  font-size: 16pt;
  border-radius: 8px;
}

.border {
  border-left: solid 1px black;
}

.card {
  margin: 10px;
}

.spaceInput {
  margin-top: 10px;
}

/* FOOTER */
.text-reset {
  text-decoration: none;
}

footer {
  background: #e3f2fd;
}

p {
  margin-bottom: 8px;
}

#Message{
  margin-top: 10px;
  background-color: #228b22;
  border-radius: 4px;
  text-align: center;
}

/* ANIMAÇÕES */
@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#aTAB {
  animation: fromBottom 0.3s backwards;
}

.textCard {
  animation: fromLeft 0.4s backwards;
}

@media (max-width: 991px) {
  .dropdown-menu {
    margin: 20px;
  }
}

/* MEDIA QUERIES */
@media (min-width: 280px) and (max-width: 281px) {
  #btnContainer {
    display: grid;
  }

  #btnLG {
    margin-bottom: 5px;
    margin-left: 17px;
  }

  #btnLN {
    margin-left: 17px;
  }
}
