* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
}

.buttonC button {
  margin: 5px;
}

.Avatar {
  margin: 10px;
}

.buttonColor {
  background: #1877f2;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}

.buttonColor:hover {
  background: #2178b6;
  color: #ffffff;
  border: none;
}

.buttonColor:focus {
  background: #2178b6;
  color: #ffffff;
  border: none;
}

._20px {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card-title {
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
}
.card-text {
  font-family: "Crimson Text", serif;
  font-size: 1.9vh;
}

.rName {
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
}

.gitHub {
  color: #181717;
}

.youtube {
  color: #ff0000;
}

.facebook {
  color: #1877f2;
}

.instagram {
  color: #e4405f;
}

.buttonReset {
  background: none;
  border: none;
  color: black;
  padding-left: 10px;
}

.modal-footer {
  border: none;
}

.buttonReset:hover {
  color: black;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.bordeFooter {
  border-bottom: #bfc3c7 solid 1px;
}

.spaceInput {
  margin-top: 10px;
}

.container-fluid p {
  display: flex;
  margin: auto;
}

.navbar {
  background: #ffffff;
}

#btnRGNL {
  margin-top: 10px;
}

#Result {
  display: none;
}

.dropdown-menu {
  padding: 5px;
  background: #ffffff;
  border: 1px solid #1877f2;
  text-align: center;
}

.dropdown-menu.show {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
}

.bRT {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bRB {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-item {
  color: #1877f2;
}

.bRT {
  border-bottom: solid 1px;
}

.bRB {
  border-top: solid 1px;
}

.bRM {
  border-bottom: solid 1px;
}

.dropdown-item:hover {
  background: #2178b6;
  color: white;
}

.nav-link {
  margin: 5px;
}

.bordeRDPT {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: solid 1px #bbc7d0;
}

.bordeRDPB {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: solid 1px #bbc7d0;
}

#navbarNavDropdown {
  margin-left: 20px;
}

.border {
  border-left: solid 1px black;
}

.spaceInput {
  margin-top: 10px;
}

#Container .card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card h1 {
  text-align: center;
}

.card {
  width: 80vw;
  text-align: justify;
}

.bdR8px {
  border-radius: 8px;
}

.carousel-item img {
  object-fit: cover;
  height: 50vh;
}

.text-reset {
  text-decoration: none;
}

footer {
  background: #ffffff;
  color: #3a3b3c;
}

p {
  margin-bottom: 8px;
}

.m-a {
  margin: auto;
}

.btnD svg {
  margin: auto;
  margin-left: 3px;
}

#Message {
  margin-top: 10px;
  margin: 0px;
  background-color: #228b22;
  border-radius: 4px;
  text-align: center;
}

#arrowTop{
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#ContainerLT {
  cursor: pointer;
}

.d-m {
  margin-top: 5px;
}

.d-m p {
  margin: auto;
  padding: 5px;
}

#Enviar {
  margin: 0;
  margin-right: 10px;
}

.Message {
  border-radius: 8px;
  text-align: center;
  margin-top: 5px;
}

.form-group {
  margin-top: 10px;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.textAnimation {
  animation: fromTop 0.4s backwards;
}

nav {
  animation: fromTop 0.4s backwards;
}

.dropdown-menu.show {
  animation: fromRight 0.4s backwards;
}

@media (max-width: 991px) {
  .dropdown-menu {
    margin: 20px;
    font-size: 3vw;
  }
}

@media (min-width: 280px) and (max-width: 281px) {
  #btnContainer {
    display: grid;
  }

  #btnLG {
    margin-bottom: 5px;
    margin-left: 17px;
  }

  #btnLN {
    margin-left: 17px;
  }
}


@media (min-height: 2040px){
  #arrowTop{
    width: 70px  ;
  }
}