


.btn-light {
    --color: #3b5998;
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2.6em;
    line-height: 2em;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 500;
    color: var(--color);
    background: none;
   }
   
   .btn-light:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btn-light:hover {
    color: white;
   }
   
   .btn-light:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn-light:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btn-light:active:before {
    background: #324b81;
    transition: background 0s;
   }

   