[data-tema="dark-mode"] .bi-arrow-repeat,
[data-tema="dark-mode"] .offcanvas-title,
[data-tema="dark-mode"] .search,
[data-tema="dark-mode"] .tittleRaizes,
[data-tema="dark-mode"] .btn-x,
[data-tema="dark-mode"] .btnColor,
[data-tema="dark-mode"] .iconMenu {
  color: #E6EDF3 !important;
}



[data-tema="dark-mode"] .navbar,
[data-tema="dark-mode"] .offcanvas-header,
[data-tema="dark-mode"] #btnSearch,
[data-tema="dark-mode"] footer
 {
  background-color: #010409 !important;
}

[data-tema="dark-mode"] .btn-audio {
  border: solid #010409 1px !important;
}
[data-tema="dark-mode"] .btn-audio i,
[data-tema="dark-mode"] .userProfile {
  color: #010409;
}

[data-tema="dark-mode"] .btn-light {
  --color: #010409;
}


[data-tema="dark-mode"] main {
  background: #0D1117;
}

[data-tema="dark-mode"] .Copyright {
  background-color: #010305;
}

[data-tema="dark-mode"] .title
{
  color: #E6EDF3 ;
}

[data-tema="dark-mode"] .text {
  color: white ;
}

[data-tema="dark-mode"] .ui-btn{
  --btn-default-bg:  #333333;
  --btn-hover-bg: rgb(41, 41, 41);
}